.page {
	display: flex;
	flex-direction: column;
	gap: 32px;
	font-family: 'Inter';
	font-weight: 500;
	text-align: right;
	background-color: var(--neutral-200);
	overflow: hidden;
}

.btn-header-primary-a {
	box-shadow: 0px 0px 40px 0px var(--blue-opacity-400-5);
	min-height: 40px;
	display: flex;
	color: var(--blue-600);
	font-size: 16px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.48px;
	text-align: left;
	background-color: var(--neutral-100);
	padding: 11px 20px 11px 21px;
	border-radius: 10px;
}

.btn-header-primary-b {
	display: flex;
	justify-content: flex-end;
	color: var(--neutral-100);
	font-size: 16px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.48px;
	text-align: right;
	background-color: var(--blue-600);
	padding: 11px 20px 11px 21px;
	border-radius: 10px;
}

.header1 {
	position: relative;
	min-height: 500px;
	flex-shrink: 0;
}



/* header-a */

.header-a {
	container: header-a / inline-size;
	position: absolute; top: 375px; left: 16px; right: 15px; 
	margin: 0 auto;
	max-width: 1409px;
}

.header-row {
	container: header-row / inline-size;
	backdrop-filter: blur(15px);
	box-shadow: 0px 4px 48px 0px var(--blue-opacity-500-20),0px 0px 10px -6px var(--blue-opacity-500-20);
	display: flex;
	align-items: flex-start;
	gap: 312px;
	background-color: var(--neutral-opacity-200-80);
	padding: 7px 7px 6px 15px;
	border: 1px solid var(--neutral-opacity-100-20);
	border-radius: 16px;
	overflow: hidden;
}

.header-symbol-a {
	margin-top: 11px;
	width: 112px; height: 20px;
	flex-shrink: 0;
}

.header-btn-container1 {
	margin-left: 11px;
	display: flex;
	align-items: center;
	gap: 8px;
}

.header-btn-opacity-secondary {
	min-height: 39px;
	display: flex;
	color: var(--blue-600);
	font-size: 16px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.48px;
	text-align: left;
	background-color: var(--neutral-opacity-100-0);
	padding: 10px 21px 10px 20px;
	border-radius: 10px;
}
/* end header-a*/


.header2 .header-btn-opacity1 {
	padding-left: 21px;
}

.header2 .header-btn-primary2 {
	margin-top: 1px;
}

.header-col {
	container: header-col / inline-size;
	position: absolute; top: 0; left: 0; right: 0; 
	display: flex;
	flex-direction: column;
	gap: 412px;
	background: linear-gradient(0deg, rgba(2, 2, 3, 0) 60%, rgba(2, 2, 3, 0.4) 100%) top left / auto auto no-repeat, url(../assets/header-col.png) top left / cover no-repeat;
	padding-top: 16px;
}



/* header-b */

.header-b {
	container: header-b / inline-size;
	width: 100%;
	max-width: 1376px;
	display: flex;
	align-items: flex-start;
	gap: 277px;
	align-self: center;
}

.header-symbol-b {
	margin-top: 6px;
	width: 157px; height: 28px;
	flex-shrink: 0;
}

.header-btn-container2 {
	display: flex;
	align-items: flex-start;
	gap: 8px;
}

.header-btn-opacity-primary {
	backdrop-filter: blur(15px);
	min-height: 40px;
	display: flex;
	color: var(--neutral-100);
	font-size: 16px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.48px;
	text-align: left;
	background-color: var(--neutral-opacity-100-20);
	padding: 11px 21px 11px 20px;
	border-radius: 10px;
}
/* end header-b*/


.header3 .header-btn-opacity4 {
	padding-left: 21px;
}

.header3 .header-btn-primary4 {
	margin-left: 26px;
}

.header-border {
	margin-bottom: -1px;
	height: 33px;
	flex-shrink: 0;
	background-color: var(--neutral-200);
	border-top-left-radius: 32px;
	border-top-right-radius: 32px;
}

.page-2-screen {
	width: 100%;
	max-width: 1376px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	align-self: center;
}

.page-title1 {
	margin-right: 572px;
	display: flex;
	flex-direction: column;
	gap: 44px;
}

.page-text {
	color: var(--blue-600);
	text-align: left;
}

.page-title2 {
	text-align: left;
}

.page-body-container {
	text-align: left;
}

.page-col {
	margin-top: 32px;
	display: flex;
	flex-direction: column;
	background-color: var(--blue-600);
	padding-top: 64px;
	border-top-left-radius: 32px;
	border-top-right-radius: 32px;
}



/* footer */

.footer {
	container: footer / inline-size;
	margin-bottom: -21px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 69px;
	background-color: var(--blue-600);
	padding: 112px 32px 46px 32px;
	border-top-left-radius: 32px;
	border-top-right-radius: 32px;
}

.footer-container {
	margin-left: -2px;
	width: 100%;
	max-width: 1374px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	color: var(--neutral-100);
	font-size: 20px;
	letter-spacing: -0.59px;
}

.footer-get-in-touch {
	width: 564px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;
	flex-shrink: 0;
	line-height: normal;
}

.footer-subtitle-symbol {
	align-self: stretch;
	text-align: left;
}

.footer-btn-black {
	width: 100%;
	max-width: 448px;
	display: flex;
	justify-content: center;
	font-style: normal;
	letter-spacing: -0.59px;
	text-align: center;
	background-color: var(--neutral-900);
	padding: 20px 32px;
	border-radius: 16px;
}

.footer-contacts1 {
	width: 446px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 124px;
	flex-shrink: 0;
	line-height: 1.45;
	text-align: right;
}

.footer-col-top {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 5px;
	padding-right: 3px;
}

.footer-subtitle-btn-link-big {
	color: var(--neutral-100);
	font-size: 48px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -1.43px;
	text-align: right;
	padding-left: 3px;
	padding-bottom: 3px;
	border-bottom: 3px solid var(--neutral-100);
	overflow: hidden;
}

.footer-text1 {
	align-self: stretch;
}

.footer-menu {
	container: footer-menu / inline-size;
	margin-top: 146px;
	width: 100%;
	max-width: 1376px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.footer-nav {
	display: flex;
	align-items: flex-start;
	gap: 182px;
}

.footer-symbol1 {
	width: 166px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	flex-shrink: 0;
	padding-bottom: 1px;
}

.footer-text-btn1 {
	align-self: stretch;
	text-align: left;
}

.footer-text-frame1 {
	text-align: left;
	padding-left: 1px;
	padding-bottom: 1px;
	border-bottom: 2px solid var(--neutral-100);
	overflow: hidden;
}

.footer-symbol2 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
}

.footer-text-btn2 {
	text-align: left;
}

.footer-text-frame2 {
	text-align: left;
}

.footer-contacts2 {
	width: 339px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	flex-shrink: 0;
}

.footer-text-a {
	font-size: 20px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	line-height: 1.35;
	letter-spacing: -0.59px;
	text-align: right;
}

.footer-bottom {
	container: footer-bottom / inline-size;
	position: relative;
	width: 100%;
	max-width: 1376px;
	display: flex;
	flex-direction: column;
	gap: 13px;
	color: var(--neutral-opacity-100-50);
	font-size: 16px;
	line-height: 1.45;
	letter-spacing: -0.48px;
	padding-bottom: 3px;
}

.footer-symbol-a {
	position: absolute; top: 23px; right: 1219px; 
	width: 157px; height: 28px;
}

.footer-row-bottom {
	margin-right: 3px;
	width: 100%;
	max-width: 1024px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	align-self: end;
}

.footer-text-symbol1 {
	margin: -5px 0 -3px -1px;
	text-align: left;
}

.footer-text-symbol2 {
	margin: -5px -1px -3px 0;
	text-align: right;
}
/* end footer*/


.page-container {
	container: page-container / inline-size;
	margin-left: 32px; margin-right: -432px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	padding-right: 464px;
}

.page-title3 {
	container: page-title3 / inline-size;
	width: 100%;
	max-width: 1376px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
}



/* h-a */

.h-a {
	display: flex;
	align-items: center;
	gap: 8px;
}

.h-circle {
	width: 6px; height: 6px;
	flex-shrink: 0;
	background-color: var(--neutral-opacity-100-80);
	border-radius: 50%;
}

.h-text {
	text-transform: uppercase;
	text-align: left;
}
/* end h-a*/


.page-title4 {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 107px;
	align-self: stretch;
}

.page-subtitle {
	text-align: left;
}

.page-slider {
	display: flex;
	align-items: flex-start;
	gap: 8px;
}



/* btn-slider-a */

.btn-slider-a {
	rotate: 180deg;
	transform-origin: 50% 50%;
	box-shadow: inset 0px 0px 3px 1px rgba(106, 113, 149, 0.15);
	width: 62px; height: 40px;
	flex-shrink: 0;
	background-color: var(--blue-opacity-200-30);
	padding: 8px 19px;
	border-radius: 12px;
	overflow: hidden;
}

.btn-slider-arrow1 {
	height: 24px;
}
/* end btn-slider-a*/




/* btn-slider-b */

.btn-slider-b {
	width: 62px; height: 40px;
	flex-shrink: 0;
	background-color: var(--neutral-200);
	padding: 8px 19px;
	border-radius: 12px;
}

.btn-slider-arrow-a {
	height: 24px;
}
/* end btn-slider-b*/


.page-containers {
	position: relative;
	width: 100%;
	max-width: 1376px;
	display: flex;
	align-items: flex-start;
	gap: 16px;
}

.page-symbol {
	width: 100%;
	min-height: 224px;
	flex-grow: 1;
	color: var(--neutral-800);
	font-size: 32px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	line-height: 1.25;
	letter-spacing: -1.27px;
	text-align: left;
	background-color: var(--neutral-100);
	padding: 32px;
	border-radius: 32px;
}

.page-symbol1 {
	position: absolute; top: 0; left: 1392px; 
	width: calc(100% - 1392px); height: 224px;
	max-width: 448px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	background-color: var(--neutral-100);
	border-radius: 32px;
}

.footer1 .footer-subtitle1 {
	margin-left: 0; margin-right: 3px;
}

.footer1 .footer-text2 {
	color: var(--neutral-100);
}

.footer1 .footer-text3 {
	color: var(--neutral-opacity-100-50);
}



/** breakpoints (margin / paddings) **/

@media screen and (max-width: 1280px) {
	.header-a {
		margin-inline: var(--margin-md);
	}
	.page-title1 {
		margin-inline: var(--margin-md);
	}
	.footer-btn-black {
		padding-inline: var(--margin-sm);
	}
	.page-container {
		margin-inline: 0;
	}
	.footer1 .footer-subtitle1 {
		margin-inline: 0;
	}
}

@media screen and (max-width: 576px) {
	.header-a {
		margin-inline: var(--margin-sm);
	}
	.page-title1 {
		margin-inline: var(--margin-sm);
	}
}



/* container queries (flex rows) */

@container header-a (width < 1408px) {
	.header-row {
		flex-direction: column;
		align-items: center;
		gap: 13px;
		padding: 8px 13px;
	}
	.header-row > * {
		margin-left: unset !important; margin-top: unset !important;
		text-align: center;
	}
}

@container header-row (width < 480px) {
	.header-btn-container1 {
		margin-left: 0;
		flex-direction: column;
		align-items: center;
		gap: 14px;
	}
	.header-btn-container1 > * {
		text-align: center;
	}
}

@container header-col (width < 1375px) {
	.header-b {
		flex-direction: column;
		align-items: center;
		gap: 13px;
	}
	.header-b > * {
		margin-left: unset !important; margin-top: unset !important;
		text-align: center;
	}
}

@container header-b (width < 472px) {
	.header-btn-container2 {
		flex-direction: column;
		align-items: center;
		gap: 14px;
	}
	.header3 > * {
		margin-left: 0; margin-right: 0;
	}
	.header-btn-container2 > * {
		text-align: center;
	}
}

@container footer (width < 1013px) {
	.footer-container {
		margin-left: 0;
		flex-direction: column;
		align-items: flex-start;
		gap: 35px;
	}
	.footer-container > .footer-get-in-touch {
		width: 100%;
		max-width: 564px;
	}
	.footer-container > .footer-contacts1 {
		width: 100%;
		max-width: 446px;
	}
}

@container footer (width < 750px) {
	.footer-menu {
		flex-direction: column;
		align-items: flex-end;
		gap: 16px;
	}
	.footer-menu > .footer-contacts2 {
		width: 100%;
		max-width: 339px;
	}
}

@container footer-menu (width < 411px) {
	.footer-nav {
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
	}
}

@container footer-bottom (width < 437px) {
	.footer-row-bottom {
		margin-right: 0;
		flex-direction: column;
		align-items: center;
		gap: 13px;
	}
	.footer-row-bottom > * {
		margin-left: unset !important; margin-right: unset !important; margin-top: unset !important;
		text-align: center;
	}
}

@container page-title3 (width < 1375px) {
	.page-title4 {
		flex-direction: column;
		align-items: center;
		gap: 14px;
	}
	.page-title4 > * {
		text-align: center;
	}
}

@container page-container (width < 1375px) {
	.page-containers {
		flex-direction: column;
		align-items: center;
		gap: 28px;
	}
	.page-containers > * {
		text-align: center;
	}
	.page-containers > .page-symbol1 {
		align-items: center;
	}
	.page-containers > .page-input-symbol1 {
		width: 100%;
	}
	.page-containers > .page-symbol2 {
		width: 100%;
	}
	.page-containers > .page-input-symbol2 {
		width: 100%;
	}
}
