.page {
	display: flex;
	flex-direction: column;
	gap: 55px;
	font-family: 'Inter';
	font-weight: 500;
	text-align: right;
	background-color: var(--neutral-200);
	overflow: hidden;
}



/* btn-container */

.btn-container {
	display: flex;
	align-items: center;
	gap: 8px;
}

.btn-container-btn-opacity-secondary {
	min-height: 39px;
	display: flex;
	color: var(--blue-600);
	font-size: 16px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.48px;
	text-align: left;
	background-color: var(--neutral-opacity-100-0);
	padding: 10px 21px 10px 20px;
	border-radius: 10px;
}

.btn-container-header-primary {
	min-height: 40px;
	text-align: left;
}
/* end btn-container*/


.btn-header-primary {
	display: flex;
	justify-content: flex-end;
	color: var(--neutral-100);
	font-size: 16px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.48px;
	text-align: right;
	background-color: var(--blue-600);
	padding: 11px 20px 11px 21px;
	border-radius: 10px;
}

.text-txt {
	color: var(--txt-dark-light);
	font-size: 20px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	line-height: 1.35;
	letter-spacing: -0.59px;
	text-align: left;
}



/* footer */

.footer {
	container: footer / inline-size;
	margin-bottom: -21px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 69px;
	background-color: var(--blue-600);
	padding: 112px 32px 46px 32px;
	border-top-left-radius: 32px;
	border-top-right-radius: 32px;
}

.footer-container {
	margin-left: -2px;
	width: 100%;
	max-width: 1374px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	color: var(--neutral-100);
	font-size: 20px;
	letter-spacing: -0.59px;
}

.footer-get-in-touch {
	width: 564px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;
	flex-shrink: 0;
	line-height: normal;
}

.footer-subtitle-symbol {
	align-self: stretch;
	text-align: left;
}

.footer-btn-black {
	width: 100%;
	max-width: 448px;
	display: flex;
	justify-content: center;
	text-align: center;
	background-color: var(--neutral-900);
	padding: 20px 32px;
	border-radius: 16px;
}

.footer-contacts1 {
	width: 446px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 124px;
	flex-shrink: 0;
	line-height: 1.45;
	text-align: right;
}

.footer-col-top {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 5px;
	padding-right: 3px;
}

.footer-subtitle-btn-link-big {
	color: var(--neutral-100);
	font-size: 48px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -1.43px;
	text-align: right;
	padding-left: 3px;
	padding-bottom: 3px;
	border-bottom: 3px solid var(--neutral-100);
	overflow: hidden;
}

.footer-text1 {
	align-self: stretch;
}

.footer-menu {
	container: footer-menu / inline-size;
	margin-top: 146px;
	width: 100%;
	max-width: 1376px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.footer-nav {
	display: flex;
	align-items: flex-start;
	gap: 182px;
}

.footer-symbol1 {
	width: 166px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	flex-shrink: 0;
	padding-bottom: 1px;
}

.footer-text-btn1 {
	align-self: stretch;
	text-align: left;
}

.footer-text-frame1 {
	text-align: left;
	padding-left: 1px;
	padding-bottom: 1px;
	border-bottom: 2px solid var(--neutral-100);
	overflow: hidden;
}

.footer-symbol2 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
}

.footer-text-btn2 {
	text-align: left;
}

.footer-text-frame2 {
	text-align: left;
}

.footer-contacts2 {
	width: 339px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	flex-shrink: 0;
}

.footer-text-a {
	font-size: 20px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	line-height: 1.35;
	letter-spacing: -0.59px;
	text-align: right;
}

.footer-bottom {
	container: footer-bottom / inline-size;
	position: relative;
	width: 100%;
	max-width: 1376px;
	display: flex;
	flex-direction: column;
	gap: 13px;
	color: var(--neutral-opacity-100-50);
	font-size: 16px;
	line-height: 1.45;
	letter-spacing: -0.48px;
	padding-bottom: 3px;
}

.footer-symbol-a {
	position: absolute; top: 23px; right: 1219px; 
	width: 157px; height: 28px;
}

.footer-row-bottom {
	margin-right: 3px;
	width: 100%;
	max-width: 1024px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	align-self: end;
}

.footer-text-symbol1 {
	margin: -5px 0 -3px -1px;
	text-align: left;
}

.footer-text-symbol2 {
	margin: -5px -1px -3px 0;
	text-align: right;
}
/* end footer*/


.header1 {
	container: header1 / inline-size;
	position: relative;
	min-height: 103px;
	flex-shrink: 0;
}



/* header-a */

.header-a {
	container: header-a / inline-size;
	position: absolute; top: 8px; left: 16px; right: 15px; 
	margin: 0 auto;
	max-width: 1409px;
}

.header-row {
	container: header-row / inline-size;
	backdrop-filter: blur(15px);
	box-shadow: 0px 4px 48px 0px var(--blue-opacity-500-20),0px 0px 10px -6px var(--blue-opacity-500-20);
	display: flex;
	align-items: flex-start;
	gap: 312px;
	background-color: var(--neutral-opacity-200-80);
	padding: 7px 7px 6px 15px;
	border: 1px solid var(--neutral-opacity-100-20);
	border-radius: 16px;
	overflow: hidden;
}

.header-symbol-a {
	margin-top: 11px;
	width: 112px; height: 20px;
	flex-shrink: 0;
}
/* end header-a*/




/* header-b */

.header-b {
	container: header-row / inline-size;
	position: absolute; top: 0; left: 0; right: 0; 
	display: flex;
	align-items: flex-start;
	gap: 277px;
	background-color: var(--neutral-200);
	padding: 16px 32px 47px 32px;
}

.header-symbol-b {
	margin-top: 6px;
	width: 157px; height: 28px;
	flex-shrink: 0;
}
/* end header-b*/


.header2 .btn-container1 {
	margin-left: 11px;
}

.header2 .btn-container1 .btn-container-opacity1 {
	padding-left: 21px;
}

.header2 .header-btn-primary1 {
	margin-top: 1px;
}

.header3 .btn-container2 .btn-container-opacity1 {
	padding-left: 21px;
}

.header3 .header-btn-primary2 {
	margin-left: 26px;
}

.page-1-screen {
	container: page-1-screen / inline-size;
	margin-top: 18px;
	width: 100%;
	max-width: 1376px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	align-self: center;
}



/* container */

.container {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.container-container1 {
	background: url(../assets/container/container-container.png) top left / cover no-repeat;
	padding-top: 247px;
	border-radius: 32px;
}

.container-col {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 32px;
	background: linear-gradient(0deg, rgba(2, 2, 3, 0) 0%, #020203 75%) top left / auto auto no-repeat;
	padding: 162px 32px 32px 32px;
}



/* btn-secondary-arrow */

.btn-secondary-arrow {
	width: 100%;
	max-width: 332px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	text-align: unset;
	background-color: var(--neutral-100);
	padding: 18px 11px;
	border-radius: 16px;
}

.btn-secondary-arrow-icon-arrow {
	width: 24px; height: 24px;
	flex-shrink: 0;
}

.btn-secondary-arrow-label {
	color: var(--blue-600);
	text-align: right;
}
/* end btn-secondary-arrow*/


.container-txt {
	margin-right: 655px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	align-self: stretch;
}

.container-subtitle {
	text-align: left;
}

.container-container2 {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	gap: 16px;
	row-gap: 16px;
}



/* card-service */

.card-service {
	box-shadow: 0px 0px 40px 0px var(--blue-opacity-400-5);
	width: 448px;
	display: flex;
	flex-direction: column;
	gap: 32px;
	flex-shrink: 0;
	background-color: var(--neutral-100);
	padding: 32px 12px 12px 12px;
	border-radius: 32px;
	overflow: hidden;
}

.card-service-txt-container {
	margin-left: 20px; margin-right: 72px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.card-service-subtitle {
	color: var(--txt-dark);
	font-size: 32px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	line-height: 1.25;
	letter-spacing: -1.27px;
	text-align: left;
}

.card-service-img {
	flex-shrink: 0;
	border-radius: 24px;
}
/* end card-service*/

/* end container*/


.page-container {
	display: flex;
	align-items: flex-start;
	gap: 132px;
}

.page-title {
	width: 564px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 51px;
	flex-shrink: 0;
}



/* h */

.h {
	display: flex;
	align-items: center;
	gap: 8px;
}

.h-circle {
	width: 6px; height: 6px;
	flex-shrink: 0;
	background-color: var(--blue-600);
	border-radius: 50%;
}

.h-text {
	text-transform: uppercase;
	text-align: left;
}
/* end h*/


.page-title-symbol {
	align-self: stretch;
	text-align: left;
}

.page-text {
	flex-grow: 1;
	text-align: left;
}

.container1 .container-text {
	color: var(--neutral-opacity-100-80);
}

.container1 .card1 .card-service-subtitle {
	color: #262628;
}

.footer1 .footer-subtitle1 {
	margin-left: 0; margin-right: 3px;
}

.footer1 .footer-text2 {
	color: var(--neutral-100);
}

.footer1 .footer-text3 {
	color: var(--neutral-opacity-100-50);
}



/** breakpoints (margin / paddings) **/

@media screen and (max-width: 1280px) {
	.footer-btn-black {
		padding-inline: var(--margin-sm);
	}
	.header-a {
		margin-inline: var(--margin-md);
	}
	.header-b {
		padding-inline: var(--margin-sm);
	}
	.container-col {
		padding-inline: var(--margin-sm);
	}
	.container-txt {
		margin-inline: 0;
	}
	.card-service-txt-container {
		margin-inline: 0;
	}
	.footer1 .footer-subtitle1 {
		margin-inline: 0;
	}
}

@media screen and (max-width: 576px) {
	.header-a {
		margin-inline: var(--margin-sm);
	}
}



/* container queries (flex rows) */

@container header-row (width < 480px) {
	.btn-container {
		margin-left: 0;
		flex-direction: column;
		align-items: center;
		gap: 14px;
	}
	.btn-container > * {
		text-align: center;
	}
}

@container footer (width < 1013px) {
	.footer-container {
		margin-left: 0;
		flex-direction: column;
		align-items: flex-start;
		gap: 35px;
	}
	.footer-container > .footer-get-in-touch {
		width: 100%;
		max-width: 564px;
	}
	.footer-container > .footer-contacts1 {
		width: 100%;
		max-width: 446px;
	}
}

@container footer (width < 750px) {
	.footer-menu {
		flex-direction: column;
		align-items: flex-end;
		gap: 16px;
	}
	.footer-menu > .footer-contacts2 {
		width: 100%;
		max-width: 339px;
	}
}

@container footer-menu (width < 411px) {
	.footer-nav {
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
	}
}

@container footer-bottom (width < 437px) {
	.footer-row-bottom {
		margin-right: 0;
		flex-direction: column;
		align-items: center;
		gap: 13px;
	}
	.footer-row-bottom > * {
		margin-left: unset !important; margin-right: unset !important; margin-top: unset !important;
		text-align: center;
	}
}

@container header-a (width < 1408px) {
	.header-row {
		flex-direction: column;
		align-items: center;
		gap: 13px;
		padding: 8px 13px;
	}
	.header-row > * {
		margin-left: unset !important; margin-top: unset !important;
		text-align: center;
	}
}

@container header1 (width < 1429px) {
	.header-b {
		flex-direction: column;
		align-items: center;
		gap: 13px;
	}
	.header-b > * {
		margin-left: unset !important; margin-top: unset !important;
		text-align: center;
	}
}

@container page-1-screen (width < 1375px) {
	.page-container {
		flex-direction: column;
		align-items: flex-start;
		gap: 21px;
	}
	.page-container > .page-title {
		width: 100%;
		max-width: 564px;
	}
	.page-container > .page-text {
		width: 100%;
	}
}
