.banner {
	display: flex;
	flex-direction: column;
	background: linear-gradient(0deg, rgba(2, 2, 3, 0) 60%, rgba(2, 2, 3, 0.4) 100%) top left / auto auto no-repeat, url(../assets/banner.png) top left / cover no-repeat;
	padding-top: 468px;
	overflow: hidden;
}

.banner-border {
	margin-bottom: -1px;
	height: 33px;
	flex-shrink: 0;
	background-color: var(--neutral-200);
	border-top-left-radius: 32px;
	border-top-right-radius: 32px;
}
