@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary-arrow {
    @apply px-5 py-3 rounded-2xl max-w-72 max-h-10 text-nowrap;
  }
}

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Inter', sans-serif !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  span {
    font-family: inherit;
  }

  a {
    color: inherit;
    text-decoration: none !important;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  p {
    @apply xl:text-2xl xl:align-middle max-sm:text-base leading-[150%] tracking-[-3%] font-medium;
  }

  h1 {
    @apply xl:text-[5rem] sm:text-3xl max-sm:text-3xl align-middle max-lg:text-4xl leading-[115%] tracking-[-4%] font-medium;
  }

  h2 {
    @apply xl:text-[3rem] sm:text-xl max-sm:text-xl align-middle max-lg:text-2xl leading-[125%] tracking-[-3%] font-semibold;
  }
}
