.header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.header-symbol {
	margin-top: 6px;
	width: 157px; height: 28px;
	flex-shrink: 0;
}

.header-btn-primary {
	width: 62px;
	flex-shrink: 0;
	background-color: var(--blue-600);
	padding: 15px 20px;
	border-radius: 10px;
}

.header-graphic {
	height: 10px;
}
