.title-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 107px;
}

.title-container-title {
	text-align: left;
}

.title-container-slider {
	display: flex;
	align-items: flex-start;
	gap: 8px;
}



/* btn-slider-a */

.btn-slider-a {
	rotate: 180deg;
	transform-origin: 50% 50%;
	box-shadow: inset 0px 0px 3px 1px rgba(106, 113, 149, 0.15);
	width: 62px; height: 40px;
	flex-shrink: 0;
	background-color: var(--blue-opacity-200-30);
	padding: 8px 19px;
	border-radius: 12px;
	overflow: hidden;
}

.btn-slider-arrow1 {
	height: 24px;
}
/* end btn-slider-a*/




/* btn-slider-b */

.btn-slider-b {
	width: 62px; height: 40px;
	flex-shrink: 0;
	background-color: var(--neutral-200);
	padding: 8px 19px;
	border-radius: 12px;
}

.btn-slider-arrow-a {
	height: 24px;
}
/* end btn-slider-b*/




/* container queries (flex rows) */

@media(max-width:1365px) {
	.title-container {
		flex-direction: column;
		align-items: center;
		gap: 14px;
	}
	.title-container > * {
		text-align: center;
	}
}
