.screen {
	display: flex;
	flex-direction: column;
	gap: 40px;
	font-family: 'Inter';
	font-weight: 500;
	background: linear-gradient(0deg, rgba(2, 2, 3, 0) 60%, rgba(2, 2, 3, 0.4) 100%) top left / auto auto no-repeat, linear-gradient(0deg, rgba(2, 2, 3, 0.6) 0%, rgba(2, 2, 3, 0) 64%) top left / auto auto no-repeat, url(../assets/screen.png) top left / cover no-repeat;
	padding-top: 536px;
	overflow: hidden;
}

.screen-col-top {
	margin-left: 20px; margin-right: 14px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}



/* btn-primary-arrow */

.btn-primary-arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	text-align: unset;
	background-color: var(--blue-600);
	padding: 18px 11px;
	border-radius: 16px;
}

.btn-primary-arrow-icon-arrow {
	width: 24px; height: 24px;
	flex-shrink: 0;
}

.btn-primary-arrow-label {
	text-align: right;
}
/* end btn-primary-arrow*/


.screen-txt-container {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.screen-title {
	color: var(--neutral-100);
	font-size: 40px;
	line-height: 1.15;
	letter-spacing: -1.58px;
}

.screen-subtitle {
	margin-right: 32px;
	color: var(--neutral-opacity-100-80);
	font-size: 20px;
	line-height: 1.35;
	letter-spacing: -0.59px;
}

.screen-footer {
	margin-bottom: -1px;
	height: 33px;
	flex-shrink: 0;
	background-color: var(--blue-600);
	border-top-left-radius: 32px;
	border-top-right-radius: 32px;
}
