.screen {
	display: flex;
	flex-direction: column;
	gap: 40px;
	font-family: 'Inter';
	padding-right: 241px;
}

.text-txt {
	color: var(--txt-dark-light);
	font-size: 16px;
	line-height: 1.35;
	letter-spacing: -0.48px;
}

.screen-title1 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	color: var(--neutral-800);
	font-size: 32px;
	font-weight: 600;
	line-height: 1.25;
	letter-spacing: -0.95px;
}



/* h */

.h {
	display: flex;
	align-items: center;
	gap: 8px;
}

.h-circle {
	width: 6px; height: 6px;
	flex-shrink: 0;
	background-color: var(--blue-600);
	border-radius: 50%;
}

.h-text {
	text-transform: uppercase;
	text-align: left;
}
/* end h*/


.screen-title2 {
	align-self: stretch;
}

.screen-container1 {
	display: flex;
	flex-direction: column;
	gap: 32px;
	font-weight: 500;
}

.screen-container2 {
	background: url(../assets/screen-container.png) top left / cover no-repeat;
	padding-top: 86px;
	border-radius: 32px;
	overflow: hidden;
}

.card1 {
	container: card1 / inline-size;
	display: flex;
	flex-direction: column;
	gap: 24px;
	background: linear-gradient(0deg, rgba(2, 2, 3, 0) 0%, #020203 75%) top left / auto auto no-repeat;
	padding: 188px 16px 16px 16px;
}



/* btn-secondary-arrow */

.btn-secondary-arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	text-align: unset;
	background-color: var(--neutral-100);
	padding: 18px 10px;
	border-radius: 16px;
}

.btn-secondary-arrow-icon-arrow {
	width: 24px; height: 24px;
	flex-shrink: 0;
}

.btn-secondary-arrow-label {
	text-align: right;
}
/* end btn-secondary-arrow*/


.card-txt-container {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.card-subtitle {
	color: var(--neutral-100);
	font-size: 28px;
	line-height: normal;
	letter-spacing: -0.83px;
}

.card-text {
	color: var(--neutral-opacity-100-80);
}

.screen-container3 {
	display: flex;
	flex-direction: column;
	gap: 10px;
}



/* card-service */

.card-service {
	box-shadow: 0px 0px 40px 0px var(--blue-opacity-400-5);
	display: flex;
	flex-direction: column;
	gap: 23px;
	background-color: var(--neutral-100);
	padding: 32px 12px 12px 12px;
	border-radius: 32px;
	overflow: hidden;
}

.card-service-col-top {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 0 12px;
}

.card-service-subtitle {
	color: var(--txt-dark);
	font-size: 28px;
	line-height: 1.25;
	letter-spacing: -1.11px;
}

.card-service-img-container {
	position: relative;
	height: 245px;
	flex-shrink: 0;
	overflow: hidden;
}

.card-service-img {
	position: absolute; top: 0; left: -52px; right: -53px; 
	width: calc(100% - -52px - -53px);
	max-width: none;
}
/* end card-service*/




/* container queries (flex rows) */

@container card1 (width < 162px) {
	.btn-secondary-arrow {
		flex-direction: column;
		align-items: center;
		gap: 13px;
	}
	.btn-secondary-arrow > * {
		text-align: center;
	}
}
