.frame {
	padding: 0 20px;
}

.txt-container {
	display: flex;
	align-items: flex-start;
	gap: 16px;
}

.txt-container-txt-container {
	display: flex;
	flex-direction: column;
	gap: 24px;
	flex-grow: 1;
}

.txt-container-title {
	text-align: left;
}

.txt-container-subtitle {
	text-align: left;
}

.txt-container-arrow {
	width: 36px; height: 36px;
	flex-shrink: 0;
}
