
:root {
	/* color variables */
	--brand-color: #4f6cff;
	--blue-600: #3d59eb;
	--blue-400: #4f7bff;
	--blue-500: #4f6cff;
	--neutral-800: #262628;
	--neutral-200: #fafafc;
	--neutral-100: #fff;
	--blue-opacity-400-5: rgba(95, 116, 219, 0.05);
	--neutral-700: #3b3b3c;
	--txt-dark-light: var(--neutral-700);
	--txt-dark: var(--neutral-800);
	--blue-opacity-500-20: rgba(5, 26, 131, 0.2);
	--neutral-1000: #1b1b1d;
	--neutral-900: #212123;
	--neutral-opacity-100-80: rgba(255, 255, 255, 0.8);
	--neutral-opacity-200-80: rgba(244, 245, 255, 0.8);
	--neutral-opacity-100-50: rgba(255, 255, 255, 0.5);
	--neutral-opacity-100-0: rgba(255, 255, 255, 0);
	--blue-opacity-300-20: rgba(129, 149, 248, 0.2);
	--blue-opacity-200-30: rgba(176, 187, 241, 0.3);
	--neutral-opacity-100-20: rgba(255, 255, 255, 0.2);
	--neutral-300: #eef0f9;
	--neutral-600: #6e6e7f;
	--neutral-500: #a0a0bb;
	--white-main: #fff;
	--white-600: rgba(255, 255, 255, 0.8);
	--white-100: rgba(255, 255, 255, 0.06);
	--white-200: rgba(255, 255, 255, 0.09);
	--white-300: rgba(255, 255, 255, 0.14);
	--white-500: rgba(255, 255, 255, 0.6);
	--white-400: rgba(255, 255, 255, 0.4);
	--black-main: #1b1b1d;
	--black-600: rgba(27, 27, 29, 0.88);
	--black-500: rgba(27, 27, 29, 0.6);
	--black-400: rgba(27, 27, 29, 0.4);
	--black-300: rgba(27, 27, 29, 0.12);
	--black-200: rgba(27, 27, 29, 0.08);
	--black-100: rgba(27, 27, 29, 0.04);
	--blue-700: #4f6cff;
	--blue-300: rgba(79, 123, 255, 0.14);
	--blue-200: rgba(79, 123, 255, 0.09);
	--blue-100: rgba(79, 123, 255, 0.05);
	--blue-800: #3d59eb;
	--bg-primary: var(--white-700);
	--white-700: #fafafc;
	--bg-secondary: var(--white-main);
	--text-primary: var(--black-main);
	--text-secondary: var(--black-600);
	--text-primary-on-color: var(--white-main);
	--text-secondary-on-color: var(--white-600);
	--red-main: #ff7975;
	--red-600: #ff7975;
	--bg-accent: var(--blue-700);
	--bg-accent-hover: var(--blue-700);
	--bg-secondary-on-color: var(--white-main);
	--blue-main: #4f7bff;

	/* responsive margins / paddings */
	--margin-sm: 16px;
	--margin-md: 32px;
}

html {
	height: 100%;
	font-size: 16px;
}



/* text utility classes */

.btn-header {
	font-size: 16px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.48px;
}



/* ui objects utility classes */

.btn2 {
	display: flex;
	background-color: var(--blue-600);
	padding: 11px 20px;
	border-radius: 10px;
}

.btn1 {
	box-shadow: 0px 0px 40px 0px rgba(95, 116, 219, 0.13);
	display: flex;
	background-color: var(--neutral-100);
	padding: 11px 20px;
	border-radius: 10px;
}



/* button hover utility classes */

.hover-bright:hover {
	filter: brightness(1.2);
}
