.screen {
	display: flex;
	flex-direction: column;
	gap: 45px;
	font-family: 'Inter';
	background-color: var(--blue-600);
	padding-top: 32px;
	overflow: hidden;
}

.screen-container {
	margin: 0 16px;
	display: flex;
	flex-direction: column;
	gap: 48px;
}

.screen-txt-container {
	margin-right: 4px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.screen-title {
	margin-right: 2px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 48px;
	color: var(--neutral-100);
	font-size: 32px;
	font-weight: 600;
	line-height: 1.25;
	letter-spacing: -0.95px;
}



/* h */

.h {
	display: flex;
	align-items: center;
	gap: 8px;
}

.h-circle {
	width: 6px; height: 6px;
	flex-shrink: 0;
	background-color: var(--neutral-opacity-100-80);
	border-radius: 50%;
}

.h-text {
	text-transform: uppercase;
	text-align: left;
}
/* end h*/


.screen-title-txt {
	align-self: stretch;
}

.screen-body-container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	color: var(--neutral-opacity-100-80);
	font-size: 20px;
	font-weight: 500;
	line-height: 1.35;
	letter-spacing: -0.59px;
}

.screen-containers {
	display: flex;
	flex-direction: column;
	gap: 12px;
	font-weight: 500;
}



/* container */

.container {
	display: flex;
	flex-direction: column;
	gap: 4px;
	background-color: var(--neutral-100);
	padding: 22px 24px;
	border-radius: 24px;
}

.container-title {
	color: var(--text-primary);
	font-size: 32px;
	line-height: normal;
	letter-spacing: -0.95px;
}

.container-text {
	color: var(--txt-dark-light);
	font-size: 16px;
	line-height: 1.35;
	letter-spacing: -0.48px;
}
/* end container*/


.container1 .container-text {
	color: var(--text-secondary);
}

.screen-footer {
	margin-bottom: -1px;
	height: 33px;
	flex-shrink: 0;
	background-color: var(--neutral-200);
	border-top-left-radius: 32px;
	border-top-right-radius: 32px;
}
